.detailsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // min-height: 70vh;
    // margin-top: 5%;
}

.detailsFormContent {
    input[type="text"] {
        margin: 15px;
        height: 5vh;
        width: 50vh;
        padding-left: 1vh;
        direction: rtl;
    }
    :focus{
        border: 2px solid #2684FF;
    }
}

.moreInfoBackButton {
    height: 5%;
    display: inline-block;
    font-size: xx-large;
    // margin-left: 100px;
}

.title_h2{
    margin: 0;
}

.titleAboveTheLogo{
    font-weight: 100;
    font-size: large;
    margin-bottom: 0;
}

.div_next{
    margin: auto;
    margin-top: 20px;
}