.detailsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    margin-top: 5%;
}

.detailsFormContent {
    input, button {
        margin: 15px;
        height: 5vh;
        width: 50vh;
        padding-left: 1vh;
    }
}

.moreInfoBackButton {
    height: 5%;
    display: inline-block;
    font-size: xx-large;
    // margin-left: 100px;
}